In [5]:
# imports and load data
import pandas as pd
# matplotlib inline

df = pd.read_csv('store-data.csv', index_col='week', skiprows=0)

df.index = pd.to_datetime(df.index)
df.head()

            storeA  storeB  storeC  storeD  storeE
week
2014-05-04    2643    8257    3893    6231    1294
2014-05-11    6444    5736    5634    7092    2907
2014-05-18    9646    2552    4253    5447    4736
2014-05-25    5960   10740    8264    6063     949
2014-06-01    7412    7374    3208    3985    3023

In [6]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200 entries, 2014-05-04 to 2018-02-25
Data columns (total 5 columns):
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5)
memory usage: 9.4 KB

In [7]:
## total sales for the last month
lastdate = pd.to_datetime(df.index.max())
print(lastdate)
df[(df.index.month==lastdate.month)&(df.index.year==lastdate.year)].sum().sum()

2018-02-25 00:00:00

96739

In [8]:
# average sales
df.mean().sum()

25575.725

In [9]:
# sales on march 13, 2016
df[(df.index.day==13)&(df.index.month==3)&(df.index.year==2016)].sum().sum()

16605

In [10]:
# worst week for store C
dfmin = df['storeA']+df['storeB']+df['storeC']+df['storeD']+df['storeE']
df[dfmin.min()==df['storeA']+df['storeB']+df['storeC']+df['storeD']+df['storeE']]

            storeA  storeB  storeC  storeD  storeE
week
2017-10-22    3751     697    3990    4236     360

In [11]:
# total sales during most recent 3 month period
df.last("3M").sum().sum()

336047