In [ ]:
# Importação das bibliotecas que serão utilizadas
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline

In [ ]:
# Importação dos dados
labels = ['id', 'Sobrevivente', 'Classe', 'Nome', 'Sexo', 'Idade', 'SibSp', 'Parch', 'Ticket', 'Tarifa', 'Cabine', 'Embarque']
df = pd.read_csv('titanic-data-6.csv', header=0, names=labels)
#df = pd.read_csv('titanic-data-6.csv')
df.info()

In [73]:
def acerta_indices(label):
    """
    def acerta_indices(label: string):

    Função para realizar o acerto dos índices de uma determinada coluna de um dataset
    Argumentos:
        label: nome da coluna que terá o índice ajustado
    Retorna:
        Não tem retorno
    """
    if (df[label].dtype == "object"):
        df[label].fillna('', inplace=True)
    else:
        mean = df[label].mean()
        df[label].fillna(mean, inplace=True)

In [74]:
# Acertando os índices
acerta_indices('Idade')
acerta_indices('Cabine')
acerta_indices('Embarque')

In [75]:
# Verifica se acertou os índices
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
id              891 non-null int64
Sobrevivente    891 non-null int64
Classe          891 non-null int64
Nome            891 non-null object
Sexo            891 non-null object
Idade           891 non-null float64
SibSp           891 non-null int64
Parch           891 non-null int64
Ticket          891 non-null object
Tarifa          891 non-null float64
Cabine          891 non-null object
Embarque        891 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [76]:
# Verifica se existem registros duplicados e elimina-os em caso positivo
if (sum(df.duplicated()) > 0):
    df.drop_duplicates(inplace=True)

In [77]:
# Verifica uma amostra dos dados
df.head()

,id,Sobrevivente,Classe,Nome,Sexo,Idade,SibSp,Parch,Ticket,Tarifa,Cabine,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,,S

In [80]:
# Gera uma estatística do dado 'Sobrevivente'
df['Sobrevivente'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Sobrevivente, dtype: float64

In [81]:
# Gera uma estatística do dado 'Classe'
df['Classe'].describe()

count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Classe, dtype: float64

In [82]:
# Gera uma estatística do dado 'Sexo'
df['Sexo'].describe()

count      891
unique       2
top       male
freq       577
Name: Sexo, dtype: object

In [83]:
# Gera uma estatística do dado 'Idade'
df['Idade'].describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Idade, dtype: float64

In [84]:
# Gera uma estatística do dado 'Cabine'
df['Cabine'].describe()

count     891
unique    148
top
freq      687
Name: Cabine, dtype: object

In [85]:
# Gera uma estatística do dado 'Tarifa'
df['Tarifa'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Tarifa, dtype: float64

In [86]:
# Gera uma estatística do dado 'Embarque'
df['Embarque'].describe()

count     891
unique      4
top         S
freq      644
Name: Embarque, dtype: object

In [ ]:
# Lista os dados únicos de alguns parâmetros
"Sobrevivente:{0}, Classe:{1}, Sexo:{2}, Idade:{3}, Cabine:{4}, Tarifa:{5}, Embarque:{6}".format(
    len(df['Sobrevivente'].value_counts().index), 
    len(df['Classe'].value_counts().index),
    len(df['Sexo'].value_counts().index),
    len(df['Idade'].value_counts().index),
    len(df['Cabine'].value_counts().index),
    len(df['Tarifa'].value_counts().index),
    len(df['Embarque'].value_counts().index))

In [ ]:
df['Sobrevivente'].hist();
df['Classe'].hist();
df['Sexo'].hist();
df['Idade'].hist();
df['Cabine'].hist();
df['Tarifa'].hist();
df['Embarque'].hist();

In [ ]:
df_red['density'].mean()

In [ ]:
ind = df_red['quality'].value_counts().index
df_red['quality'].value_counts()[ind].plot(kind='bar', figsize=(15,15));

In [ ]:
ind = df_white['quality'].value_counts().index
df_white['quality'].value_counts()[ind].plot(kind='bar', figsize=(15,15));

In [ ]:
ind = df_red['quality'].value_counts().index
df_red['quality'].value_counts()[ind].plot(kind='pie', figsize=(8,8));

In [ ]:
ind = df_white['quality'].value_counts().index
df_white['quality'].value_counts()[ind].plot(kind='pie', figsize=(8,8));

In [ ]:
df_red['quality'].hist();

In [ ]:
df_white['quality'].hist();

In [ ]:
df_red['quality'].describe()

In [ ]:
df_white['quality'].describe()

In [ ]:
# plot graph
fig, ax = plt.subplots(figsize=(8,6))
ax.hist(df[df['Sexo'] == 'Male'], alpha=0.5, label='Masculino')
ax.hist(df[df['Sexo'] == 'Female'], alpha=0.5, label='Feminino')
ax.set_title('Distribuição de sexo')
ax.set_xlabel('Seco')
ax.set_ylabel('Qtd')
ax.legend(loc='upper right')
plt.show()